@font-face {
  font-family: quicksand;
  src: url(Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
  color: rgb(255, 255, 255);
  font-family: quicksand, sans-serif;
  text-align: center;
}

html, body {
  background-color: rgb(29, 29, 29);
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > div {
  width: 70vw;
}

#header {
  background-color: rgb(67, 67, 67);
  font-size: 1.5rem;
  padding: 0 36px;
}

h1 {
  font-size: 2rem;
  padding: 15px;
}

#content {
  padding: 36px;
  background-color: grey;
  display: grid;
  justify-content: start;
  grid-template: 100px 100px / 1fr 1fr;
  flex: 1;
  gap: 8px;
}

a {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a:hover {
  color: rgba(69, 199, 250, 0.795);
  background-color: rgb(71, 71, 71);
}